<nav>
  <div class="site-title">
    <a href="/"><h1>Have Fun</h1></a>
    <p>Programming Institution</p>
  </div>
  <ul>
    <li><a href="/">Posts</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/posts/create">New Post</a></li>
  </ul>
</nav>