

<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <div class="create-blog content">

    <form action="/login" method="POST">
      <label for="User Name">User Name:</label>
      <input type="" id="snippet" name="username" required>
      <label for="title">Password:</label>
      <input id="title" type="password" name="password" required>
      <button type="submit">Login</button>
      <a href="/register">Register</a>
    </form>
    <a href="/auth/facebook" class=""><i class="fa fa-facebook"></i> Sign in with facebook</a>
    <a href="/auth/google" class=""><i class="fa fa-google"></i> Sign in with Google</a>

  </div>
  <% if (messages.error) { %>
    <%= messages.error %>
  <% } %>
  <%- include("../partials/footer.ejs") %>
</body>
</html>