

<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <div class="create-blog content">
    <% if (messages.success) { %>
      <%= messages.success %>
    <% } %>
    <form action="/register" method="POST">
      <label for="User Name">User Name:</label>
      <input type="text" id="title" name="username" required>
      <label for="User Email">User Email:</label>
      <input type="email" id="snippet" name="email" required>
      <label for="title">Password:</label>
      <input id="title" type="password" name="password" required>
      <label for="title">Confirm:</label>
      <input id="title" type="password" name="confirm_pass" required>
      <button type="submit">Register</button>
      <a href="/login">Login</a>

    </form>
  </div>

  <%- include("../partials/footer.ejs") %>
</body>
</html>